<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" verbose="1">
    <test name="Unit">
        <packages>
            <package name="com.amazon.*"/>
        </packages>
    </test>
    <listeners>
        <listener class-name="com.amazon.TestNGListener"/>
    </listeners>
</suite>